$card-height: 96px;
$card-width: 71px;
$hand-padding: 3px;
$font-size: 12px;

body {
  background-color: #808080;
  font-size: $font-size;
}

.player {
  background: white;
  border: 1px solid black;
  display: inline-block;
  font-family: Sans-Serif;
  font-size: 0;
  line-height: 0;
  position: relative;
  vertical-align: top;

  .name {
    font-size: $font-size;
    line-height: $font-size * 1.25;
    padding: $hand-padding;
    color: white;
    background-color: green;
  }
}

.hand {
  padding: $hand-padding;
}

.card {
  margin-left: $card-width / -2;

  &:first-child {
    margin-left: 0;
  }
}

.vertical {
  width: $card-width + ($hand-padding * 2);
}

.vertical .card {
  margin-left: 0;
  margin-top: $card-height / -2;

  &:first-child {
    margin-top: 0;
  }
}

.card {
  background-image: url(../images/StandardDeck.png);
  width: $card-width;
  height: $card-height;
  display: inline-block;

  &.down {
    background-position: $card-width*-2-2 $card-height*-4-4;
  }

  &.clubs-ace {
    background-position: 0 0;
  }
  &.clubs-2 {
    background-position: $card-width*-1-1 0;
  }
  &.clubs-3 {
    background-position: $card-width*-2-2 0;
  }
  &.clubs-4 {
    background-position: $card-width*-3-3 0;
  }
  &.clubs-5 {
    background-position: $card-width*-4-4 0;
  }
  &.clubs-6 {
    background-position: $card-width*-5-5 0;
  }
  &.clubs-7 {
    background-position: $card-width*-6-6 0;
  }
  &.clubs-8 {
    background-position: $card-width*-7-7 0;
  }
  &.clubs-9 {
    background-position: $card-width*-8-8 0;
  }
  &.clubs-10 {
    background-position: $card-width*-9-9 0;
  }
  &.clubs-jack {
    background-position: $card-width*-10-10 0;
  }
  &.clubs-queen {
    background-position: $card-width*-11-11 0;
  }
  &.clubs-king {
    background-position: $card-width*-12-12 0;
  }

  &.diamonds-ace {
    background-position: 0 $card-height*-1-1;
  }
  &.diamonds-2 {
    background-position: $card-width*-1-1 $card-height*-1-1;
  }
  &.diamonds-3 {
    background-position: $card-width*-2-2 $card-height*-1-1;
  }
  &.diamonds-4 {
    background-position: $card-width*-3-3 $card-height*-1-1;
  }
  &.diamonds-5 {
    background-position: $card-width*-4-4 $card-height*-1-1;
  }
  &.diamonds-6 {
    background-position: $card-width*-5-5 $card-height*-1-1;
  }
  &.diamonds-7 {
    background-position: $card-width*-6-6 $card-height*-1-1;
  }
  &.diamonds-8 {
    background-position: $card-width*-7-7 $card-height*-1-1;
  }
  &.diamonds-9 {
    background-position: $card-width*-8-8 $card-height*-1-1;
  }
  &.diamonds-10 {
    background-position: $card-width*-9-9 $card-height*-1-1;
  }
  &.diamonds-jack {
    background-position: $card-width*-10-10 $card-height*-1-1;
  }
  &.diamonds-queen {
    background-position: $card-width*-11-11 $card-height*-1-1;
  }
  &.diamonds-king {
    background-position: $card-width*-12-12 $card-height*-1-1;
  }

  &.hearts-ace {
    background-position: 0 $card-height*-2-2;
  }
  &.hearts-2 {
    background-position: $card-width*-1-1 $card-height*-2-2;
  }
  &.hearts-3 {
    background-position: $card-width*-2-2 $card-height*-2-2;
  }
  &.hearts-4 {
    background-position: $card-width*-3-3 $card-height*-2-2;
  }
  &.hearts-5 {
    background-position: $card-width*-4-4 $card-height*-2-2;
  }
  &.hearts-6 {
    background-position: $card-width*-5-5 $card-height*-2-2;
  }
  &.hearts-7 {
    background-position: $card-width*-6-6 $card-height*-2-2;
  }
  &.hearts-8 {
    background-position: $card-width*-7-7 $card-height*-2-2;
  }
  &.hearts-9 {
    background-position: $card-width*-8-8 $card-height*-2-2;
  }
  &.hearts-10 {
    background-position: $card-width*-9-9 $card-height*-2-2;
  }
  &.hearts-jack {
    background-position: $card-width*-10-10 $card-height*-2-2;
  }
  &.hearts-queen {
    background-position: $card-width*-11-11 $card-height*-2-2;
  }
  &.hearts-king {
    background-position: $card-width*-12-12 $card-height*-2-2;
  }

  &.spades-ace {
    background-position: 0 $card-height*-3-3;
  }
  &.spades-2 {
    background-position: $card-width*-1-1 $card-height*-3-3;
  }
  &.spades-3 {
    background-position: $card-width*-2-2 $card-height*-3-3;
  }
  &.spades-4 {
    background-position: $card-width*-3-3 $card-height*-3-3;
  }
  &.spades-5 {
    background-position: $card-width*-4-4 $card-height*-3-3;
  }
  &.spades-6 {
    background-position: $card-width*-5-5 $card-height*-3-3;
  }
  &.spades-7 {
    background-position: $card-width*-6-6 $card-height*-3-3;
  }
  &.spades-8 {
    background-position: $card-width*-7-7 $card-height*-3-3;
  }
  &.spades-9 {
    background-position: $card-width*-8-8 $card-height*-3-3;
  }
  &.spades-10 {
    background-position: $card-width*-9-9 $card-height*-3-3;
  }
  &.spades-jack {
    background-position: $card-width*-10-10 $card-height*-3-3;
  }
  &.spades-queen {
    background-position: $card-width*-11-11 $card-height*-3-3;
  }
  &.spades-king {
    background-position: $card-width*-12-12 $card-height*-3-3;
  }

}
