body {
  background-color: #808080; }

.card {
  background-image: url(../images/StandardDeck.png);
  width: 71px;
  height: 96px;
  display: inline-block; }
  .card.down {
    background-position: -144px -388px; }
  .card.clubs-ace {
    background-position: 0 0; }
  .card.clubs-2 {
    background-position: -72px 0; }
  .card.clubs-3 {
    background-position: -144px 0; }
  .card.clubs-4 {
    background-position: -216px 0; }
  .card.clubs-5 {
    background-position: -288px 0; }
  .card.clubs-6 {
    background-position: -360px 0; }
  .card.clubs-7 {
    background-position: -432px 0; }
  .card.clubs-8 {
    background-position: -504px 0; }
  .card.clubs-9 {
    background-position: -576px 0; }
  .card.clubs-10 {
    background-position: -648px 0; }
  .card.clubs-jack {
    background-position: -720px 0; }
  .card.clubs-queen {
    background-position: -792px 0; }
  .card.clubs-king {
    background-position: -864px 0; }
  .card.diamonds-ace {
    background-position: 0 -97px; }
  .card.diamonds-2 {
    background-position: -72px -97px; }
  .card.diamonds-3 {
    background-position: -144px -97px; }
  .card.diamonds-4 {
    background-position: -216px -97px; }
  .card.diamonds-5 {
    background-position: -288px -97px; }
  .card.diamonds-6 {
    background-position: -360px -97px; }
  .card.diamonds-7 {
    background-position: -432px -97px; }
  .card.diamonds-8 {
    background-position: -504px -97px; }
  .card.diamonds-9 {
    background-position: -576px -97px; }
  .card.diamonds-10 {
    background-position: -648px -97px; }
  .card.diamonds-jack {
    background-position: -720px -97px; }
  .card.diamonds-queen {
    background-position: -792px -97px; }
  .card.diamonds-king {
    background-position: -864px -97px; }
  .card.hearts-ace {
    background-position: 0 -194px; }
  .card.hearts-2 {
    background-position: -72px -194px; }
  .card.hearts-3 {
    background-position: -144px -194px; }
  .card.hearts-4 {
    background-position: -216px -194px; }
  .card.hearts-5 {
    background-position: -288px -194px; }
  .card.hearts-6 {
    background-position: -360px -194px; }
  .card.hearts-7 {
    background-position: -432px -194px; }
  .card.hearts-8 {
    background-position: -504px -194px; }
  .card.hearts-9 {
    background-position: -576px -194px; }
  .card.hearts-10 {
    background-position: -648px -194px; }
  .card.hearts-jack {
    background-position: -720px -194px; }
  .card.hearts-queen {
    background-position: -792px -194px; }
  .card.hearts-king {
    background-position: -864px -194px; }
  .card.spades-ace {
    background-position: 0 -291px; }
  .card.spades-2 {
    background-position: -72px -291px; }
  .card.spades-3 {
    background-position: -144px -291px; }
  .card.spades-4 {
    background-position: -216px -291px; }
  .card.spades-5 {
    background-position: -288px -291px; }
  .card.spades-6 {
    background-position: -360px -291px; }
  .card.spades-7 {
    background-position: -432px -291px; }
  .card.spades-8 {
    background-position: -504px -291px; }
  .card.spades-9 {
    background-position: -576px -291px; }
  .card.spades-10 {
    background-position: -648px -291px; }
  .card.spades-jack {
    background-position: -720px -291px; }
  .card.spades-queen {
    background-position: -792px -291px; }
  .card.spades-king {
    background-position: -864px -291px; }

/* 168x242 */

/*# sourceMappingURL=hearts.css.map */
